@import "./variables.scss";

.navigation {
  height: $nav-length;
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.login-register {
  display: flex;
  gap: 25px;
}
